@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Sofia");

body,h1,h2,h3,h4,h5,h6,p {font-family: Sofia, serif;}

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
}


.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.w3-roboto{
  font-family: 'Roboto', serif;
}

.search{
  position: absolute;
  right: 0;
  height: 100%;
  bottom: 0;
  cursor: pointer;
}

.search:focus{
  position: absolute;
  right: 0;
  height: 100%;
  bottom: 0;
  /* cursor: pointer; */
  background-color: darkslategray;
}

.fa-close{
  cursor: pointer;
}


.pagination{
  display: flex;
  font-size: larger;
  margin: auto;
}
