.update-student{
  display: flex;
  flex-direction: column;
  max-width: 40%;
  justify-content: end;
  margin: auto;
}

#update-ol{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 4px;
  text-align: center;
  margin-top: 10px;
  font-size: medium;
  padding: 18px;
  border: 1px solid #ccc;
  position: relative;
}